
@{
    ViewBag.Title = "Honoraires";
}
<link href="~/css/main.css" rel="stylesheet" />
<link href="~/css/css-2544.css" rel="stylesheet" />
<section class="main cms" style="background-color:white">
    <div class="layoutLarge clearfix">
        <h1 id="honoraires-title">Honoraires de l'agence Lesagences.fr « Enseigne Les Agences de Papa »</h1>

        <p>Conformément aux dispositions des articles 6-III et 19 de la loi pour la Confiance dans l'Économie Numérique, ainsi que l’arrêté du 10 janvier 2017 relatif à l’information des consommateurs par les professionnels intervenant dans une transaction immobilière. Nous vous informons que :</p>


        <h2>Honoraires d'agence</h2>

        <p class="feesUnavailable" style="margin-bottom: 50px;">Notre barème tarifaire est disponible sur simple demande par e-mail, courrier, téléphone ou depuis la rubrique contact.</p>
    </div>
</section>

