
@{
    Layout = null;
}

<!DOCTYPE HTML>
<html lang="en">
<head>
    <title>Les Agences De Papa</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">
    <link href="https://fonts.googleapis.com/css?family=Mountains+of+Christmas&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Courgette&display=swap" rel="stylesheet">


    <link href="~/css/ionicons.css" rel="stylesheet">

    <link rel="stylesheet" href="~/css/demos.css" />

    <link href="~/css/styles.css" rel="stylesheet">

    <link href="~/css/Responsive.css" rel="stylesheet">

</head>
<body>

    <div class="main-area center-text" style="background-image:url(/images/bgmain.png);">

        <div class="display-table">
            <div class="display-table-cell">
                <img id="imageResponse" src="~/images/logo.png" />
                <p class="desc font-white">
                    Nous rencontrons un flux important
                    <br />
                    Le site est en cours de maintenance, il sera en ligne dans les meilleurs délais.
                    <br />
                    A très bientôt Chez Papa!
                    <br />
                    <a style="color:#16d6f7" href="mailto:info@lesagencesdepapa.fr" target="_top">info@lesagencesdepapa.fr</a>
                </p>
            </div>
        </div>
    </div>

</body>
</html>

<style>
    .title {
        font-family: 'Courgette', cursive;
    }

    .desc {
        font-size: 20px;
        font-family: 'Courgette', cursive;
    }
</style>