<div class="container">
    <div class="card bg-light">
        <div class="card-body">
            <h5>Estimez votre capacité de financement avec « 48 heures crédit »</h5>
            <img src="~/images/48heures.png" style="width: 100%;" class="img-fluid">
        </div>
    </div>
</div>
